In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# provide path to data
path = 'C:/Users/shisk/Desktop/Projects/Data/eda_data.csv'

In [5]:
df = pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         742 non-null    int64
 1   Job Title          742 non-null    object
 2   Salary Estimate    742 non-null    object
 3   Job Description    742 non-null    object
 4   Rating             742 non-null    float64
 5   Company Name       742 non-null    object
 6   Location           742 non-null    object
 7   Headquarters       742 non-null    object
 8   Size               742 non-null    object
 9   Founded            742 non-null    int64
 10  Type of ownership  742 non-null    object
 11  Industry           742 non-null    object
 12  Sector             742 non-null    object
 13  Revenue            742 non-null    object
 14  Competitors        742 non-null    object
 15  hourly             742 non-null    int64
 16  employer_provided  742 non-null    int64
 17  min_salary         742 non-null    int64
 18  max_salary         742 non-null    int64
 19  avg_salary         742 non-null    float64
 20  company_txt        742 non-null    object
 21  job_state          742 non-null    object
 22  same_state         742 non-null    int64
 23  age                742 non-null    int64
 24  python_yn          742 non-null    int64
 25  R_yn               742 non-null    int64
 26  spark              742 non-null    int64
 27  aws                742 non-null    int64
 28  excel              742 non-null    int64
 29  job_simp           742 non-null    object
 30  seniority          742 non-null    object
 31  desc_len           742 non-null    int64
 32  num_comp           742 non-null    int64
dtypes: float64(2), int64(15), object(16)
memory usage: 191.4+ KB